.contact__list {
  width: 500px;
  margin: 0;
  padding: 0;
}
.contact__item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: 10px;
}
.contact__item:not(:last-child) {
  margin-bottom: 10px;
}
