/** @format */

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
}

.input {
  width: 200px;
  height: 20px;
}

.input:focus {
  border: 3px solid rgba(138, 138, 247, 0.1);
}
